
	<div class="box wraper">
		<div class="title clearFix">
			<h2 class="fl">{{brand}}</h2>
			<a href="javascript:;" class="fl"></a>
		</div>
	</div>
	<div class="box2 wraper">
		<div class="banner">
			<a href="javascript:;"><img ng-src="{{a}}" alt=""></a>
		</div>
	</div>
	<div class="box3 wraper">
		<div class="nav">
			<ul class="container">
				<li ng-repeat="v in data">
					<a href="javascript:;">
						<img ng-src="{{v.image}}" alt="">
						<span>{{v.phone}}</span>
					</a>
				</li>
				<!-- <li>
					<a href="javascript:;">
						<img src="images/a4.png" alt="">
						<span>{{accessories}}</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="images/a5.png" alt="">
						<span>促销</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="images/a6.png" alt="">
						<span>活动</span>
					</a>
				</li> -->
			</ul>
			<ul class="container con2">
				<li>
					<a href="javascript:;">
						<img src="images/a7.png" alt="">
						<span>摄影</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="images/a8.png" alt="">
						<span>V粉</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="images/a9.png" alt="">
						<span>评测</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="images/a10.png" alt="">
						<span>玩机</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="box4 wraper">
		<ul class="clearFix">
			<li class="fl">
				<div class="left fl">
					<div class="type">Xplay6磨砂黑</div>
					<div class="style">曲面双摄</div>
					<p>￥4498</p>
				</div>
				<a href="javascript:;">
					<img src="images/a11.png" alt="" class="fl">
				</a>
			</li>
			<li class="fr">
				<div class="left fl">
					<div class="type">X9磨砂黑</div>
					<div class="style">64G存储</div>
					<p>￥2798</p>
				</div>
				<a href="javascript:;">
					<img src="images/a12.png" alt="" class="fl">
				</a>
			</li>
		</ul>
	</div>
	<div class="box5 wraper clearFix">
		<div class="border fl"></div>
		<h2 class="title fl">品牌运动</h2>
		<div class="border-right fl"></div>
		<a href="javascript:;"><div class="triangle fr"></div></a>
	</div>
	<div class="box6 wraper clearFix">
		<div class="left fl">
			<a href="javascript:;"><img src="images/a15.png" alt=""></a>
		</div>
		<div class="right fl">
			<div class="font"><a href="javascript:;">查看全部</a></div>
			<div class="border"></div>
		</div>
	</div>
	<div class="box5 wraper clearFix">
		<div class="border fl"></div>
		<h2 class="title fl">活动精选</h2>
		<div class="border-right fl"></div>
		<a href="javascript:;"><div class="triangle fr"></div></a>
	</div>
	<div class="box7 wraper">
		<div class="top clearFix">
			<a href="javascript:;" class="fl"><img src="images/a16.png" alt=""></a>
			<!-- ?????? -->
		</div>
		<div class="bottom">
			<p class="vivo"><a href="javascript:;">vivo夏日篮球排队全国粉丝招募</a></p>
			<p class="time">活动时间2017/05/03-2017/05/10</p>
		</div>
	</div>
	<div class="box5 wraper clearFix">
		<div class="border fl"></div>
		<h2 class="title fl">社区热帖</h2>
		<div class="border-right fl"></div>
		<a href="javascript:;"><div class="triangle fr"></div></a>
	</div>
	<div class="box8 wraper">
		<div class="head clearFix">
			<a href="javascript:;"><p class="img fl"></p></a>
			<a href="javascript:;"><p class="name fl">我是六动</p></a>
		</div>
		<div class="font clearFix">
			<div class="border-left fl"><a href="javascript:;">Xplay6评测</a></div>
			<div class="border-center fl">|</div>
			<div class="border-right fl"><a href="javascript:;">让妹子爱不释手的旗舰手机</a></div>
		</div>
		<p class="Introduction"><a href="javascript:;">作为国产一流的旗舰品牌vivo,它塑造出很多经典的机型，其中Xplay6就是一款高端手机</a></p>
		<div class="images">
			<ul class="clearFix">
				<li>
					<a href="javascript:;"><img src="images/a18.png" alt=""></a>
				</li>
				<li>
					<a href="javascript:;"><img src="images/a19.png" alt=""></a>
				</li>
				<li>
					<a href="javascript:;"><img src="images/a20.png" alt=""></a>
				</li>
			</ul>
		</div>
		<div class="all clearFix">
			<div class="left fl">
				<i class="fl"></i>
				<span class="fl">1829</span>
			</div>
			<div class="center fl">
				<i class="fl"></i>
				<span class="fl">38</span>
			</div>
			<a href="javascript:;" class="fr">
				<div class="right">
					Xplay系列
				</div>
			</a>
		</div>
	</div>
	<div class="box9 wraper">
		<div class="head clearFix">
			<a href="javascript:;"><p class="img fl"></p></a>
			<a href="javascript:;"><p class="name fl">我是六动</p></a>
		</div>
		<div class="font clearFix">
			<div class="border-left fl"><a href="javascript:;">Xplay6评测</a></div>
			<div class="border-center fl">|</div>
			<div class="border-right fl"><a href="javascript:;">让妹子爱不释手的旗舰手机</a></div>
		</div>
		<p class="Introduction"><a href="javascript:;">作为国产一流的旗舰品牌vivo,它塑造出很多经典的机型，其中Xplay6就是一款高端手机</a></p>
		<div class="images">
			<ul class="clearFix">
				<li>
					<a href="javascript:;"><img src="images/a18.png" alt=""></a>
				</li>
				<li>
					<a href="javascript:;"><img src="images/a19.png" alt=""></a>
				</li>
				<li>
					<a href="javascript:;"><img src="images/a20.png" alt=""></a>
				</li>
			</ul>
		</div>
		<div class="all clearFix">
			<div class="left fl">
				<i class="fl"></i>
				<span class="fl">1829</span>
			</div>
			<div class="center fl">
				<i class="fl"></i>
				<span class="fl">38</span>
			</div>
			<a href="javascript:;" class="fr">
				<div class="right">
					Xplay系列
				</div>
			</a>
		</div>
	</div>
	<div class="box9 wraper">
		<div class="head clearFix">
			<a href="javascript:;"><p class="img fl"></p></a>
			<a href="javascript:;"><p class="name fl">我是六动</p></a>
		</div>
		<div class="font clearFix">
			<div class="border-left fl"><a href="javascript:;">Xplay6评测</a></div>
			<div class="border-center fl">|</div>
			<div class="border-right fl"><a href="javascript:;">让妹子爱不释手的旗舰手机</a></div>
		</div>
		<p class="Introduction"><a href="javascript:;">作为国产一流的旗舰品牌vivo,它塑造出很多经典的机型，其中Xplay6就是一款高端手机</a></p>
		<div class="images">
			<ul class="clearFix">
				<li>
					<a href="javascript:;"><img src="images/a18.png" alt=""></a>
				</li>
				<li>
					<a href="javascript:;"><img src="images/a19.png" alt=""></a>
				</li>
				<li>
					<a href="javascript:;"><img src="images/a20.png" alt=""></a>
				</li>
			</ul>
		</div>
		<div class="all clearFix">
			<div class="left fl">
				<i class="fl"></i>
				<span class="fl">1829</span>
			</div>
			<div class="center fl">
				<i class="fl"></i>
				<span class="fl">38</span>
			</div>
			<a href="javascript:;" class="fr">
				<div class="right">
					Xplay系列
				</div>
			</a>
		</div>
	</div>
	<div class="box10">
		<a href="javascript:;">查看更多 ></a>
	</div>
	<div class="box5 wraper clearFix">
		<div class="border fl"></div>
		<h2 class="title fl">版块推荐</h2>
		<div class="border-right fl"></div>
		<a href="javascript:;"><div class="triangle fr"></div></a>
	</div>
	<div class="box11">
		<ul class="clearFix">
			<li>
				<a href="javascript:;"><img src="images/a23.png" alt=""></a>
				<div class="p"><a href="javascript:;">玩机技巧</a></div>
			</li>
			<li>
				<a href="javascript:;"><img src="images/a23.png" alt=""></a>
				<div class="p"><a href="javascript:;">玩机技巧</a></div>
			</li>
			<li>
				<a href="javascript:;"><img src="images/a23.png" alt=""></a>
				<div class="p"><a href="javascript:;">玩机技巧</a></div>
			</li>
			<li>
				<a href="javascript:;"><img src="images/a23.png" alt=""></a>
				<div class="p"><a href="javascript:;">玩机技巧</a></div>
			</li>
		</ul>
	</div>
	<div class="box5 wraper clearFix">
		<div class="border fl"></div>
		<h2 class="title fl">商城精选</h2>
		<div class="border-right fl"></div>
		<a href="javascript:;"><div class="triangle fr"></div></a>
	</div>
	<div class="box12">
		<div class="index">
			<ul class="index">
				<li>
					<i></i>
					<a href="javascript:;">30天无忧退换货</a>
				</li>
				<li>
					<i></i>
					<a href="javascript:;">30天无忧退换货</a>
				</li>
				<li>
					<i></i>
					<a href="javascript:;">30天无忧退换货</a>
				</li>
			</ul>
		</div>
		<div class="cellphone">
			<ul class="clearFix">
				<li class="fl">
					<a href="javascript:;"><img src="images/a12.png" alt=""></a>
					<div class="all">
						<div class="font"><a href="javascript:;">X9Plus磨砂黑</a></div>
						<div class="style clearFix">
							<div class="a fl"><a href="javascript:;">前置2000万</a></div>
							<div class="b fl">|</div>
							<div class="a fl"><a href="javascript:;">6GB+64GB</a></div>
						</div>
						<div class="d">￥3298</div>
					</div>
				</li>
				<li class="fl">
					<a href="javascript:;"><img src="images/a12.png" alt=""></a>
					<div class="all">
						<div class="font"><a href="javascript:;">X9Plus磨砂黑</a></div>
						<div class="style clearFix">
							<div class="a fl"><a href="javascript:;">前置2000万</a></div>
							<div class="b fl">|</div>
							<div class="a fl"><a href="javascript:;">6GB+64GB</a></div>
						</div>
						<div class="d">￥3298</div>
					</div>
				</li>
				<li class="fl">
					<a href="javascript:;"><img src="images/a12.png" alt=""></a>
					<div class="all">
						<div class="font"><a href="javascript:;">X9Plus磨砂黑</a></div>
						<div class="style clearFix">
							<div class="a fl"><a href="javascript:;">前置2000万</a></div>
							<div class="b fl">|</div>
							<div class="a fl"><a href="javascript:;">6GB+64GB</a></div>
						</div>
						<div class="d">￥3298</div>
					</div>
				</li>
				<li class="fl">
					<a href="javascript:;"><img src="images/a12.png" alt=""></a>
					<div class="all">
						<div class="font"><a href="javascript:;">X9Plus磨砂黑</a></div>
						<div class="style clearFix">
							<div class="a fl"><a href="javascript:;">前置2000万</a></div>
							<div class="b fl">|</div>
							<div class="a fl"><a href="javascript:;">6GB+64GB</a></div>
						</div>
						<div class="d">￥3298</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="box13 wraper">
		<ul>
			<li>
				<a href="javascript:;"><img src="images/a25.png" alt=""></a>
				<p class="active"><a href="javascript:;">精选</a></p>
			</li>
			<li>
				<a href="javascript:;"><img src="images/a26.png" alt=""></a>
				<p><a href="javascript:;">精选</a></p>
			</li>
			<li>
				<a href="javascript:;"><img src="images/a27.png" alt=""></a>
				<p><a href="javascript:;">精选</a></p>
			</li>
			<li>
				<a href="javascript:;"><img src="images/a28.png" alt=""></a>
				<p><a href="javascript:;">精选</a></p>
			</li>
		</ul>
	</div>
